body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    position: relative;
    width: 100vw;
    height: 200px;
    display: block;
    background-image: linear-gradient(to right top, rgb(64, 19, 78), rgb(236, 128, 27));
}

.fog {
    position: relative;
    width: 3px;
	height: 3px;
	border-radius: 50%;
    box-shadow: -10px 30px white,
    -15px 80px white,
    0px 120px white,
    -10px 20px white,
    -20px 130px white,
    -100px 50px white,
    -80px 100px white,
    -500px 100px white;
    animation: anim-stars 10s linear infinite;
}

.fog::after{
    position: absolute;
    content: " ";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: -10px 30px white,
    -15px 80px white,
    0px 120px white,
    -10px 20px white,
    -20px 130px white,
    -100px 50px white,
    -80px 100px white,
    -500px 100px white;
  }

.footer {
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
}

@keyframes anim-stars {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translate(200px, -200px);
    }
}